
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="b-block d-md-flex justify-content-between  pb-4">
                <h4 class="f-s-22 f-w-600 text-black text-capitalize">Bandhan Bank Helping NGO</h4>
                    <div class="f-s-16 f-w-600 text-success "> DNAS/BBL/HR/F/01</div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="">
                            <h3 class="f-s-16 f-w-600  text-black pb-1">Category</h3>
                            <div class="f-s-14 f-w-400  text-gray-300 pb-2">Financial</div>
                            <div class="f-s-14 f-w-400  text-gray-300 pb-2">
                                <!--Cost :--> <span class="f-s-14 f-w-600 text-secondary">&#8377;5,000</span>
                            </div>

                            <hr />
                            <h3 class="f-s-16 f-w-600  text-black pb-1">Note Creater</h3>
                            <div class="f-s-14 f-w-400  text-gray-300 pb-2">Ajay Rathore</div>
                            <div class="f-s-14 f-w-400  text-gray-300 pb-2 pt-2">
                                <i class="mdi  mdi-clock-outline align-middle"></i> - 14<sup>th</sup> Feb
                                2024 | 7:30 AM
                            </div>                            
                            <hr />
                            <h3 class="f-s-16 f-w-600  text-black pb-1">Approved By</h3>
                            <div class="approver-box approved">
                                <h3 class="f-s-15 f-w-600 text-black pb-1">Chirag Rao</h3>
                                <div class="f-s-14 text-gray-300">Team Lead | L1 | Loan</div>
                                <div class="f-s-13 f-w-400  text-gray-300 pb-2 pt-2">
                                    <i class="mdi mdi-clock-outline align-middle"></i> - 15<sup>th</sup>
                                    Feb
                                    2024 | 7:30 AM
                                </div>
                            </div>
                            <div class="approver-box approved">
                                <h3 class="f-s-15 f-w-600 text-black pb-1">Shaurya Chattopadhyay</h3>
                                <div class="f-s-14 text-gray-300">Jr. Manager | L4 | Loan</div>
                                <div class="f-s-13 f-w-400  text-gray-300 pb-2 pt-2">
                                    <i class="mdi mdi-clock-outline align-middle"></i> - 16<sup>th</sup>
                                    Feb
                                    2024 | 7:30 AM
                                </div>
                            </div>
                            <div class="approver-box approved">
                                <h3 class="f-s-15 f-w-600 text-black pb-1">Akash Sharma</h3>
                                <div class="f-s-14 text-gray-300">Manager | L5 | Loan</div>
                                <div class="f-s-13 f-w-400  text-gray-300 pb-2 pt-2">
                                    <i class="mdi mdi-clock-outline align-middle"></i> - 17<sup>th</sup>
                                    Feb
                                    2024 | 7:30 AM
                                </div>

                            </div>

                            <hr />
                            <h3 class="f-s-16 f-w-600  text-black pb-1">Download Attachment</h3>
                            <div class="d-flex flex-wrap gap-2">
                                <button class="btn btn-outline-primary btn-sm">
                                    <span class="mdi mdi-paperclip"></span>
                                    Attachment One
                                </button>
                                <button class="btn btn-outline-primary btn-sm">
                                    <span class="mdi mdi-paperclip"></span>
                                    Attachment Two
                                </button>
                                <button class="btn btn-outline-primary btn-sm">
                                    <span class="mdi mdi-paperclip"></span>
                                    Attachment Three
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="note-preview">
                            <div class="note-container">
                                <h5>Lorem ipsum dolor sit amet.</h5>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis omnis
                                    autem quidem eum est
                                    officia odit ullam dolorem excepturi quibusdam tempora magnam dolore
                                    repellendus, similique
                                    voluptatibus consequatur vitae at eos.
                                    Provident quos placeat, expedita tempore quod aliquam, laborum officia
                                    dolore quibusdam cumque
                                    natus modi molestiae dignissimos ratione qui animi? Dignissimos eaque
                                    architecto iure quas qui,
                                    itaque temporibus corporis at doloribus.
                                    Quis earum rerum error aliquid obcaecati quia ut nobis ab ipsum dolorum
                                    laborum ducimus incidunt
                                    debitis reiciendis voluptatem esse ipsam quidem odio quam, quibusdam
                                    deserunt! Corrupti odit
                                    quidem inventore deleniti.
                                </p>
                                <p>
                                    Eveniet omnis earum animi reprehenderit debitis quo velit nobis autem
                                    alias totam labore
                                    laboriosam quasi sapiente, facere provident iste asperiores vero non
                                    nam? Consequuntur hic optio
                                    delectus perspiciatis, architecto explicabo?
                                    Fugit quod facilis, vitae est quisquam laboriosam quam omnis accusamus
                                    laudantium nemo. Iusto
                                    consectetur velit ipsum. Est exercitationem, asperiores molestias
                                    quisquam mollitia at vel
                                    culpa,
                                    reiciendis incidunt a, aliquam non.
                                </p>
                                <p>
                                    Thank You <br />
                                    Note Creater Name
                                </p>
                            </div>
                        </div>


                        <div class="post-wrapper">
                            <div class="post">
                                <div class="user-block">
                                    <span class="username">
                                        Chirag Rao
                                    </span>
                                    <span class="description">
                                        <i class="mdi  mdi-clock-outline"></i> - 19:30 PM
                                        today
                                    </span>
                                </div>

                                <div class="text-gray-300">
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore the hate as they create awesome
                                    tools to help create filler text for everyone from bacon lovers
                                    to Charlie Sheen fans.
                                </div>


                                <div class="user-block">
                                    <span class="username">
                                        Ajay Rathore
                                    </span>
                                    <span class="description">
                                        <i class="mdi  mdi-clock-outline"></i> - 13:30 PM
                                        today
                                    </span>
                                </div>

                                <div class="text-gray-300">
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore the hate as they create awesome
                                    tools to help create filler text for everyone from bacon lovers
                                    to Charlie Sheen fans.
                                </div>


                                <div class="user-block">
                                    <span class="username">
                                        Shaurya Chattopadhyay
                                    </span>
                                    <span class="description">
                                        <i class="mdi  mdi-clock-outline"></i> - 9:30 AM
                                        today
                                    </span>
                                </div>

                                <div class="text-gray-300">
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore the hate as they create awesome
                                    tools to help create filler text for everyone from bacon lovers
                                    to Charlie Sheen fans.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>