<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="f-s-22 f-w-600 text-black pb-4 text-capitalize ">Bandhan Bank Helping NGO</h4>

            <div class="row">
                <div class="col-md-3">
                    <div class="">
                        <h3 class="f-s-16 f-w-600  text-black pb-1">Category</h3>
                        <div class="f-s-14 f-w-400  text-gray-300 pb-2">Non Financial</div>

                        <hr />
                        <h3 class="f-s-16 f-w-600  text-black pb-1">Note Creater</h3>
                        <div class="f-s-14 f-w-400  text-gray-300 pb-2">Ajay Rathore</div>
                        <div class="f-s-14 f-w-400  text-gray-300 pb-2 pt-2">
                            <i class="mdi  mdi-clock-outline align-middle"></i> - 14<sup>th</sup> Feb
                            2024 | 7:30 AM
                        </div>
                        
                        <hr />
                        <h3 class="f-s-16 f-w-600  text-black pb-1">Approver</h3>
                        <div class="form-check pb-4 pb-md-0">
                            <label class="form-check-label text-muted f-w-400 ">
                                <input type="checkbox" class="form-check-input" disabled />
                                Shaurya Chattopadhyay

                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="form-check pb-4 pb-md-0">
                            <label class="form-check-label text-muted f-w-400 ">
                                <input type="checkbox" class="form-check-input" disabled />
                                Chirag Rao
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <div class="form-check pb-4 pb-md-0">
                            <label class="form-check-label text-muted f-w-400 ">
                                <input type="checkbox" class="form-check-input" disabled />
                                Akash Sharma
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <hr />
                        <h3 class="f-s-16 f-w-600  text-black pb-1">Download Attachment</h3>
                        <div class="d-flex flex-wrap gap-2">
                            <button class="btn btn-outline-primary btn-sm">
                                <span class="mdi mdi-paperclip"></span>
                                Attachment One
                            </button>
                            <button class="btn btn-outline-primary btn-sm">
                                <span class="mdi mdi-paperclip"></span>
                                Attachment Two
                            </button>
                            <button class="btn btn-outline-primary btn-sm">
                                <span class="mdi mdi-paperclip"></span>
                                Attachment Three
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="note-preview">
                        <div class="note-container">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis omnis autem quidem eum est
                                officia odit ullam dolorem excepturi quibusdam tempora magnam dolore repellendus, similique
                                voluptatibus consequatur vitae at eos.
                                Provident quos placeat, expedita tempore quod aliquam, laborum officia dolore quibusdam cumque
                                natus modi molestiae dignissimos ratione qui animi? Dignissimos eaque architecto iure quas qui,
                                itaque temporibus corporis at doloribus.
                                Quis earum rerum error aliquid obcaecati quia ut nobis ab ipsum dolorum laborum ducimus incidunt
                                debitis reiciendis voluptatem esse ipsam quidem odio quam, quibusdam deserunt! Corrupti odit
                                quidem inventore deleniti.
                            </p>
                            <p>
                                Eveniet omnis earum animi reprehenderit debitis quo velit nobis autem alias totam labore
                                laboriosam quasi sapiente, facere provident iste asperiores vero non nam? Consequuntur hic optio
                                delectus perspiciatis, architecto explicabo?
                                Fugit quod facilis, vitae est quisquam laboriosam quam omnis accusamus laudantium nemo. Iusto
                                consectetur velit ipsum. Est exercitationem, asperiores molestias quisquam mollitia at vel
                                culpa,
                                reiciendis incidunt a, aliquam non.
                            </p>
                            <p>
                                Thank You <br />
                                Note Creater Name
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>